	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="assets/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Biz Minder</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="../assets/css/linearicons.css">
			<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
			<link rel="stylesheet" href="../assets/css/bootstrap.css">
			<link rel="stylesheet" href="../assets/css/magnific-popup.css">
			<link rel="stylesheet" href="../assets/css/nice-select.css">
			<link rel="stylesheet" href="../assets/css/animate.min.css">
			<link rel="stylesheet" href="../assets/css/owl.carousel.css">
			<link rel="stylesheet" href="../assets/css/main.css">
		</head>
	<style>
		a.hubBtn:hover{
			border-radius: 30%;
			background-color: rgba(14, 57, 97, 0.7);;

		}
	</style>
		<body>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="#"><img src="../assets/img/customer/BIZMINDER%20LOGO.png" width="100px" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
<br>
						  <ul class="nav-menu col-md-12">
							  <li class="col-md-4 active"><a href="#" class="genric-btn danger-border circle small text-lowercase col-lg">Buy</a></li>
                              <li class="col-md-4"><a href="#" class="genric-btn info circle small text-lowercase">Contact</a></li>
							  <li class="col-md-2 menu-has-children">
                                  <a href="#" class="hubBtn circle text-center"><img src="../assets/img/customer/10563-200.png" width="30px" alt="" title="" />
                                  </a>
                                      <ul   style="background-color: #0a2b1d">
                                          <li class="row">
                                              <div class="col-md-4"> <a href="#"><img src="../assets/img/customer/Fuel.png" width="40px" alt="" title="" /></a></div>
                                              <div class="col-md-4"> <a href="#"><img src="../assets/img/customer/fleet.png" width="40px" alt="" title="" /></a></div>
                                              <div class="col-md-4"> <a href="#"><img src="../assets/img/customer/payroll.png" width="40px" alt="" title="" /></a></div>
                                          </li>
                                          <li class="row">
                                              <div class="col-md-4"> <a href="#"><img src="../assets/img/customer/financial.png" width="40px" alt="" title="" /></a></div>
                                              <div class="col-md-4"> <a href="#"><img src="../assets/img/customer/dataman.png" width="40px" alt="" title="" /></a></div>
                                              <div class="col-md-4"> <a href="#"><img src="../assets/img/customer/chefhat.png" width="40px" alt="" title="" /></a></div>
                                          </li>
                                      </ul>


                              </li>
						  </ul>
				      </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->


			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row d-flex align-items-center justify-content-right" style="height: 550px !important;">
						<div class="banner-content col-lg-6 text-xl-left ">
							<h1 class="text-black">
								We assist small businesses become profitable
							</h1>
							<p class="pt-20 pb-20 text-black">
								We identify where your business is leaking money and recommend a fix. Making you more productive and cost efficient is our priority, essentially we sell profitability.
							</p>
						</div>											
					</div>
				</div>					
			</section>
			<!-- End banner Area -->	

			<!-- Start service Area -->
			<section class="service-area" id="about" style="background-color: rgba(14, 57, 97, 100);">
				<div class="container">
					<div class="row">
						<p>
						</p>
						<div class="col-lg-12 text-center " id="greeeting">
						</div>
					</div>

					<div class="row">
						<div class="col-lg-2">
							<div class="single-service">
								<a href="#"><img src="../assets/img/customer/Fuel.png" width="50px" alt="" title="" /></a>
                                <h4 class="text-center "><a href="#" class="text-danger">Fleet Fuel Management</a></h4>

							</div>
						</div>

						<div class="col-lg-2">
							<div class="single-service">
								<a href="index.html"><img src="../assets/img/customer/fleet.png" width="50px" alt="" title="" /></a>
                                <h4 class="text-center"><a href="#" class="text-danger">Fleet Maintenance Management</a>
								</h4>

							</div>
						</div>
						<div class="col-lg-2">
							<div class="single-service">
								<a href="index.html"><img src="../assets/img/customer/payroll.png" width="50px" alt="" title="" /></a>
                                <h4><a href="#" class="text-danger">Payroll Management</a>
								</h4>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="single-service">
								<a href="index.html"><img src="../assets/img/customer/financial.png" width="50px" alt="" title="" /></a>
                                <h4><a href="#" class="text-danger">Financial Management</a>
								</h4>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="single-service">
								<a href="index.html"><img src="../assets/img/customer/dataman.png" width="50px" alt="" title="" /></a>
                                <h4><a href="#" class="text-danger">Data Management</a>
								</h4>
							</div>
						</div>
						<div class="col-lg-2">
							<div class="single-service">
								<a href="index.html"><img src="../assets/img/customer/chefhat.png" width="50px" alt="" title="" /></a>
                                <h4><a href="#" class="text-danger">Restaurant KPI  Metrification</a>
								</h4>
							</div>
						</div>
					</div>
				</div>	
			</section>
			<!-- End service Area -->

			

			<!-- start footer Area -->		
			<footer class="footer-area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="single-footer-widget">
								<p class="footer-text text-center">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>  <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">

						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">

						</div>							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->		

			<script src="../assets/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="../assets/js/vendor/bootstrap.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="../assets/js/easing.min.js"></script>
			<script src="../assets/js/hoverIntent.js"></script>
			<script src="../assets/js/superfish.min.js"></script>
			<script src="../assets/js/jquery.ajaxchimp.min.js"></script>
			<script src="../assets/js/jquery.magnific-popup.min.js"></script>
			<script src="../assets/js/owl.carousel.min.js"></script>
			<script src="../assets/js/imagesloaded.pkgd.min.js"></script>
			<script src="../assets/js/justified.min.js"></script>
			<script src="../assets/js/jquery.sticky.js"></script>
			<script src="../assets/js/jquery.nice-select.min.js"></script>
			<script src="../assets/js/parallax.min.js"></script>
			<script src="../assets/js/mail-script.js"></script>
			<script src="../assets/js/main.js"></script>
		</body>

	<script>
		var myDate = new Date();
		var hrs = myDate.getHours();

		var greet;

		if (hrs < 12)
			greet = 'Good Morning';
		else if (hrs >= 12 && hrs <= 17)
			greet = 'Good Afternoon';
		else if (hrs >= 17 && hrs <= 24)
			greet = 'Good Evening';

		document.getElementById('greeeting').innerHTML =
				'<h2 class="text-white">' + greet + '</h2> <p> <h3 class="text-white">What would you like to do?</h3></p>';
	</script>
	</html>



